extends ../layout

include ../mixin-section-title

block content
  article
    +sectionTitle('diva People')
    p Some text, images...
    hr

  article
    +sectionTitle('diva Story')
    p Some text, images...
    hr

  article
    +sectionTitle('Open Source')
    p Link to repositories, how to help etc.
    hr

  article
    +sectionTitle('How to Support diva')
    p How to donate or alike...
    hr
