extends ../layout

include ../mixin-section-title

block content
  article
    +sectionTitle('Test Network')
    ul
      li
        a(href='http://mtnp6bw3x6mzv7sa6bp2v4ve52qijppqej5fpj43xsvwcxtw36ka.b32.i2p').
          mtnp6bw3x6mzv7sa6bp2v4ve52qijppqej5fpj43xsvwcxtw36ka.b32.i2p
    hr

  article
    +sectionTitle('Production Network')
    p Here goes a list (or a visual representation) of I2P Hosts representing the visible diva network...
    p Example (will be different hosts in a real world):
    ul
      li
        a(href='http://mtnp6bw3x6mzv7sa6bp2v4ve52qijppqej5fpj43xsvwcxtw36ka.b32.i2p').
          mtnp6bw3x6mzv7sa6bp2v4ve52qijppqej5fpj43xsvwcxtw36ka.b32.i2p
      li
        a(href='http://mtnp6bw3x6mzv7sa6bp2v4ve52qijppqej5fpj43xsvwcxtw36ka.b32.i2p').
          mtnp6bw3x6mzv7sa6bp2v4ve52qijppqej5fpj43xsvwcxtw36ka.b32.i2p
      li
        a(href='http://mtnp6bw3x6mzv7sa6bp2v4ve52qijppqej5fpj43xsvwcxtw36ka.b32.i2p').
          mtnp6bw3x6mzv7sa6bp2v4ve52qijppqej5fpj43xsvwcxtw36ka.b32.i2p
      li
        a(href='http://mtnp6bw3x6mzv7sa6bp2v4ve52qijppqej5fpj43xsvwcxtw36ka.b32.i2p').
          mtnp6bw3x6mzv7sa6bp2v4ve52qijppqej5fpj43xsvwcxtw36ka.b32.i2p
      li
        a(href='http://mtnp6bw3x6mzv7sa6bp2v4ve52qijppqej5fpj43xsvwcxtw36ka.b32.i2p').
          mtnp6bw3x6mzv7sa6bp2v4ve52qijppqej5fpj43xsvwcxtw36ka.b32.i2p
    hr

