doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/normalize/8.0.1.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='icon' href='/media/diva-exchange-logo-32x32.png' sizes='32x32')
    link(rel='icon' href='/media/diva-exchange-logo-192x192.png' sizes='192x192')
    link(rel='apple-touch-icon' href='/media/diva-exchange-logo-180x180.png')
  body
    block content
