extends layout

include mixin-section-title

block content
  article(class='article')
    +sectionTitle('main.DivaTitle')
    p(data-culture-text='main.DivaText').
      #[em diva] is your personal distributed digital value exchange.
      #[em diva] is protecting your privacy without compromise.
      Your digital assets and all your personal information are kept local.
      Really. We at #[a(href='http://diva.i2p') diva.i2p]
      (or #[a(href='https://diva.exchange') https://diva.exchange])
      believe that #[em diva] is the most secure, private and
      reliable digital value and crypto exchange available.
    hr

  article(class='article')
    +sectionTitle('main.SuperHeroTitle')
    p(data-culture-text='main.SuperHeroText').
      Because by simply running #[em diva] you stand up for
      human rights and freedom in the digital universe. That's truly bold.
      #[strong Thank you] for joining the #[em diva] network.
    hr

  article(class='article')
    +sectionTitle('Privacy Without Compromise for Everybody')
    p.
      If you want to learn more about the #[em diva] I2P-based privacy network,
      just visit #[a(href='http://diva.i2p') diva.i2p]
      (or #[a(href='https://diva.exchange') https://diva.exchange]).
    hr

  article(class='article')
    +sectionTitle('Donate or Buy Merchandise Today')
    p.
      Please keep #[em diva] going. And it's plain simple: just buy
      cool merchandise from our store or donate some cash.
      Obviously we accept privacy-protecting currencies like Monero
      or Zcash.
    p.
      Shop on #[a(href='http://diva.i2p') diva.i2p]
      (or #[a(href='https://diva.exchange') https://diva.exchange]) now.
    hr

  article(class='article')
    +sectionTitle('Spread the Word')
    p.
      Social Media goes here...
    hr
