block content

  script Ui.load('/js/diva-chat.js')
  article
    div(class="container")
        br
        div(class="columns")
            div(class="column is-one-thirds jumbotron")
                input(class="form-control" id = "chatContactName" placeholder="avatar")
                ul(class="chat_accounts_ul")
                  for account in arrayChatFriends
                    if activeAccountIdent === account.avatar
                      li.current_chat= account.avatar
                    else
                      li= account.avatar
                br

            div(class="column is-one-thirds messages")
                h1(class="display-4") Message
                br
                div(class="chat_messages_div" id = "chatMessages" )
                    ul
                      for item in arrayMessage
                        if item.sent_received === 1
                          li.my_message= item.message
                        else
                          li= item.message
                    br
                textarea(class="form-control" id = "chatMessage" placeholder="Your Message Here")
                button(class="button" id = "sendMessage") Send
                br
            div(class="column is-one-thirds") Some text about choosed user...