block content

  script Ui.load('/js/diva-chat.js')
  article
    div(class="container")
        br
        div(class="columns")
            div(class="column is-one-thirds jumbotron")
                input(class="form-control" id = "chatContactName" placeholder="account_ident")
                ul(class="chat_accounts_ul")
                  for account in arrayChatFriends
                    if activeAccountIdent === account.account_ident
                      li.currentChat= account.account_ident
                    else
                      li= account.account_ident
                br

            div(class="column is-one-thirds messages")
                h1(class="display-4") Message
                br
                div(class="chat_messages_div" id = "chatMessages" )
                    ul
                      for item in arrayMessage
                        li= item.message
                    br
                textarea(class="form-control" id = "chatMessage" placeholder="Your Message Here")
                button(class="button" id = "sendMessage") Send
                br
            div(class="column is-one-thirds") Some text about choosed user...