extends ../layout

include ../mixin-section-title

block content
  article
    +sectionTitle('Chat')
    include chat.pug
    hr

  article
    +sectionTitle('Micro Blogging')
    p Micro Blog here
    hr

  article
    +sectionTitle('Your Personal Profile')
    p Some Settings here... what to publish on the profile page
    p
      a(href='http://hr7geryz2empxpboot6iadskvonzfhiawvnnt3ywlb5q35pkgzlq.b32.i2p/').
        http://hr7geryz2empxpboot6iadskvonzfhiawvnnt3ywlb5q35pkgzlq.b32.i2p/
    hr
